
.sentence {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  max-width: 80%;
  background-color: #dff7ff;
  border-radius: 15px;
  justify-content: center;
  max-height: 500px;
  padding: 20px;
  cursor: pointer;
  margin: 15px;
}

.sentence:hover {
  background-color: #cceaf4;
}

.heart {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.heart::before {
  content: '\2665';
  color: lightblue;
}
.heart.liked::before {
  content: '\2665';
  color: #188aff;
}


.grid-container-title-cloud{
  display: grid;
  grid-template-rows: 6% 94%;
}

#noTitle-conf{
  color: white;
  border: 2px solid #188aff;
  border-bottom: 0;
}

#title-conf{
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #188aff;
  border-bottom: 0;
}

#title-conf p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 90%;
  user-select: none;
  text-decoration: none;
}


@media (min-device-width: 481px){

  #title-conf p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 90%;
    user-select: none;
    text-decoration: none;
  }

  #grid-column-languages-selection {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20% 20%;
    width: 100%;
    height: 15%;
  }

  #grid-column-display {
    display: grid;
    grid-template-columns: 80% 20%;
    width: 100%;
    height: 85%;
    position: relative;
  }

  #grid-column-display-selection {
    display: grid;
    grid-auto-flow: row;
    width: 100%;
    height: 100%;
  }
}

@media (max-device-width: 480px){


  #title-conf p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 640px;
    user-select: none;
    text-decoration: none;
  }

  .grid-container{
    font-size: 1em;
  }

  #grid-column-languages-selection {
    display: grid;
    grid-template-columns: repeat(3, 33.333%);
    width: 100%;
    height: 15%;
  }

  #eng-button{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
  }

  #fr-button{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
  }

  #esp-button{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
  }

  #ara-button{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
  }

  #logo{
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
  }
  
  #grid-column-display {
    display: grid;
    grid-template-rows: 80% 20%;
    width: 100%;
    height: 85%;
    position: relative;
  }

  #grid-column-display-selection {
    display: grid;
    grid-auto-flow: column;
    width: 100%;
  }
}


#grid-column-languages-selection div, 
#grid-column-display-selection div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.view-display {
}

#logo {
  background-color: white;
  cursor: default;
  background-image: url("../exposed/Logo-chaire-Relia-Nantes U_horizontal_Couleur.jpg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

#displayPanel {
  border-top: 0;
  cursor: default;
  background-color: white;
  color: #188aff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#grid-row1 {
  display: grid;
  grid-template-columns: 80% 20%;
  /* NOTE: ROW 3 ONWARDS WILL BE AUTO HEIGHT */
  grid-template-rows: 80% 100px;

  /* SAME AS COLUMNS, WE CAN USE REPEAT AS WELL
  grid-template-rows: repeat(4, 50px); */
}
#grid-row2 {
  display: grid;
  /*grid-template-columns: auto auto;*/
  /* NOTE: ROW 3 ONWARDS WILL BE AUTO HEIGHT */
  grid-template-rows: 20% 100px;

  /* SAME AS COLUMNS, WE CAN USE REPEAT AS WELL
  grid-template-rows: repeat(4, 50px); */
}


