<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Multiling OEG 22</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/common.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static',filename='exposed/favicon.png') }}">
  </head>
  <body style="background:#2C2D3A; color: white; text-align:center ; font-family: sans-serif; vertical-align: middle;
  font-size: 400%;"
  onclick="location.href = '/tutorial'">
  <br/>
    Welcome on the 2022 multiling open education global conference interactive display
    <br/><br/>
     Click for tutorial
  </body>
</html>