<!-- - - - - - Tutorial webpage - - - - - - -->
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Multiling OEG 22</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/common.css') }}">
  </head>
  <body onclick="location.href = '/view'">

    <picture>
      <source
         media="(max-device-width: 480px)"
         srcset="../static/exposed/tutorial_device.png">
      <img src="../static/exposed/tutorial.png"
      style="max-height: 100%; min-width: 100%"
      alt="Click to continue">
   </picture>
  </body>
</html>
